:root{
    --blue: #259bd4;
    --brown: #d0694f;
    --green: #ced04f;
    --white: #ffffff;
    --dark-brown: #5c4135;
    --background-brown: #cfb499;
    --header-height: 60px;
    --footer-height: 60px;
}

body{
    background-image: url("\src\assets\brown travel themed background.jpg");
    height: 100vh; 
    margin: 0px;   
}

header{
    padding: 0.5%;
    color: var(--brown);
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
}

header h1{
    margin-left: 2%;
    height: var(--footer-height);
}

header nav{
    background-color: var(--brown);
    height: 50px;
    width: 100px;
    margin-right: 2%;
    margin-top: 1%;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon{
    width: 40px;
    border-radius: 100px;
}

footer{
    background-color: var(--brown);
    text-align: center;
    padding: 2%;
}

.form-container{
    height: calc(100vh - (var(--header-height) + var(--footer-height)));
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    padding: 8%;
    height: 275px;
    width: 275px;
    border-radius: 30px;
}

.form div{
    width: 100%;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form div h2{
    color: var(--white)
}

.form div input{
    width: 95%;
    margin: 1%;
    padding: 2%;
    border-style: none;
    border-radius: 10px;
}

.form div button{
    width: 50%;
    padding: 2%;
    margin-bottom: 3%;
    border-style: none;
    border-radius: 10px;
    background-color: var(--brown);
    transition: background-color 1s ease;
    color: var(--white);
}

.form div button:hover{
    background-color: var(--green);
    transition: background-color 1s ease;
}

.form div p{
    margin: 0%;
    margin-bottom: 3%;
}

.error-msg{
    color: red;
}

.home-container{
    height: calc(100vh - (var(--header-height) + var(--footer-height)));
    /* backdrop-filter: blur(5px); */
    margin-right: 3%;
    margin-left: 3%;
    padding: 0.5%;
}

.home-container h2, h3{
    background-color: var(--background-brown);
    color: var(--dark-brown);
    width: 250px;
    padding: 1%;
    margin: 0.5%;
}

.home-container button{
    background-color: white;
    color: #d0694f;
    transition: background-color 1s ease;
    border-style: none;
    padding: 1.7%;
    border-radius: 25px;
    float: right ;
    position: relative;
}

.home-container button:hover{
    background-color: #f8b7a7;
    color: var(--dark-brown);
    transition: background-color 1s ease;
}

.home-content{
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.no-plans-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.no-plans-container img{
    width: 255px;
}

.plans-container div{
    background-color: var(--blue);
    transition: background-color 1s ease;
    color: white;
    padding: 0.7%;
    padding-left: 1.7%;
    padding-right: 1.7%;
    margin-bottom: 0.5%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
}

.plans-container div:hover{
    background-color: #47b4eb;
    transition: background-color 1s ease;
}

.plans-container div p{
    width: fit-content;
    /* padding: 0px; */
    margin: 0px;
}

.left-p{
    background-color: var(--green);
    padding: 2px;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 15px;
}

.add-plan-container{
    height: calc(90vh - (var(--header-height) + var(--footer-height)));
    /* background-color: purple; */
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

.plan-form{
    /* background-color: blue; */
    background-color: var(--white);
    height: 90%; 
    display: flex;
    flex-direction: row;
    border-radius: 30px;
}

.plan-form-left{
    /* background-color: orange; */
    flex-basis: 30%;
    border-radius: 30px;
    padding: 5%;
    text-align: center;
}

.plan-form-left h2{
    margin: 0%;
    margin-bottom: 2%;
    color: var(--brown);
}

.plan-form-left img{
    width: 250px;
    height: 250px;
    overflow: hidden; 
    border-radius: 30px;
}

.plan-form-right{
   /* background-color: red; */
   background-color: var(--blue);
   flex-basis: 60%;
   border-radius: 30px;
   padding: 5%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   overflow-y: auto;
}

.plan-form-right input{
    width: 100%;
    padding: 1%; 
    border-style: none;
    border-radius: 15px;
    margin-bottom: 1.5%;
}

.plan-form-right select{
    width: 100%;
    padding: 1%; 
    border-style: none;
    border-radius: 15px;
    margin-bottom: 1.5%;
}

.dest-selected{
    height: fit-content;
    width: 30%;
    padding: 2%;
    margin-bottom: 3%;
    border-style: none;
    border-radius: 20px;
    background-color: var(--brown);
    transition: background-color 1s ease;
    color: var(--white);
}

.dest-selected:hover{
    background-color:#f7542b ;
    transition: background-color 1s ease;
    color: var(--white);
}

.plan-form-button{
    height: fit-content;
    width: 30%;
    padding: 2%;
    margin-bottom: 3%;
    border-style: none;
    border-radius: 20px;
    background-color: var(--brown);
    transition: background-color 1s ease;
    color: var(--white);
    float: right;
}

.plan-form-button:hover{
    background-color: var(--green);
    transition: background-color 1s ease;
}

.preview-upper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.preview-upper-left{
    flex-basis: 50%;
}

.preview-upper-left h3{
    background-color: transparent;
}

.preview-upper-left img{
    width: 225px;
    height: 225px;
    overflow: hidden; 
    border-radius: 20px;
} 

.preview-upper-right{
    flex-basis: 50%;
    color: var(--dark-brown);
    font-weight: bold;
    overflow-y: auto;
}

.preview-upper-right p{
    margin: 10px;
}

.preview-lower{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.preview-lower h3{
    background-color: transparent;
}

.preview-lower button{
    background-color: var(--brown);
    transition: background-color 1s ease;
    padding: 10px;
    width: 20%;
    color: white;
    font-weight: bold;
    border-style: none;
    border-radius: 15px;
    float: right;
}

.preview-lower button:hover{
    background-color: var(--blue);
    transition: background-color 1s ease;
}

.nav-upper div{
    padding: 10px;
    margin-bottom: 3px;
    color: white;
    font-weight: bold;
    transition: background-color 1s ease;
}

.nav-upper div:hover{
    background-color: var(--green);
    transition: background-color 1s ease;
}

.nav-lower button{
    background-color: var(--brown);
    transition: background-color 1s ease;
    padding: 10px;
    width: 50%;
    color: white;
    font-weight: bold;
    border-style: none;
    border-radius: 15px;
    float: right;
}

.nav-lower button:hover{
    background-color: var(--green);
    transition: background-color 1s ease;
}

.cards-view h3{
    background-color: transparent;
    width: fit-content;
    color: var(--dark-brown);
    padding: 0%;
}

.cards-selection{
    width: 100%;
    height: 270px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

.cards-selection div{
    background-color: var(--background-brown);
    height: auto;
    width: 44%;
    padding: 2%;
    min-width: 130px;
    margin: 3px;
    border-radius: 15px;
}

.profile-container{
    height: calc(100vh - (var(--header-height) + var(--footer-height)));
    margin-right: 3%;
    margin-left: 3%;
    padding: 0.5%;
    display: flex;
    justify-content: center;
}

.profile-content{
    background-color: white;
    height: 380px;
    width: 70%;
    padding: 5%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    color: var(--dark-brown);
    overflow-y: auto;
}

.profile-content button{
    background-color: var(--brown);
    transition: background-color 1s ease;
    padding: 10px;
    width: 30%;
    color: white;
    font-weight: bold;
    border-style: none;
    border-radius: 15px;
    float: right;
}

.profile-content button:hover{
    background-color: var(--green);
    transition: background-color 1s ease;
}

.profile-content h2{
    margin: 0%;
}

.profile-details{
    height: 130px;
    padding: 2%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    background-color: var(--blue);
    border-radius: 30px;
    margin-bottom: 1%;
}

.profile-details img{
    height: 100%;
    border-radius: 100px;
}

.edit-pop-up{
    position: absolute;
    z-index: 100;
    width: 80%;
}

.edit-profile-form{
    background-color: var(--blue);
    height: calc(100vh - (var(--header-height) + var(--footer-height)) - 110px);
    margin-right: 3%;
    margin-left: 3%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    color: var(--dark-brown);
}

.edit-profile-form img{
    width: 15%;
    border-radius: 100px;
}

.edit-profile-form h2{
    margin: 0%;
}

.edit-profile-form-info{
    width: 50%;
}

.edit-profile-form-info p{
    margin: 0%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.edit-profile-form-info input, textarea{
    width:90%;
    padding: 1.5%;
    border-radius: 15px;
    border-style: none;
}

.edit-profile-form-buttons{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.edit-profile-form-buttons button{
    background-color: var(--brown);
    transition: background-color 1s ease;
    padding: 10px;
    width: 30%;
    color: white;
    font-weight: bold;
    border-style: none;
    border-radius: 15px;
    margin-top: 1%;
}

.edit-profile-form-buttons button:hover{
    background-color: var(--green);
    transition: background-color 1s ease;
}