:root{
    --blue: #259bd4;
    --brown: #d0694f;
    --green: #49db44;
    --yellow: #dbd934;
    --white: #ffffff;
    --dark-brown: #5c4135;
    --background-brown: burlywood;
    --header-height: 60px;
    --footer-height: 60px;
    --container-height: calc(100vh - (var(--header-height) + var(--footer-height)))
}

h1, h2, h3, h4, h5, p, input, select, textarea, body{
    padding: 0%;
    margin: 0%;
}

.loading{
    background-color: burlywood;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

button{
    width: 120px;
    height: 35px;
    border-radius: 20px;
    border-style: none;
    background-color: var(--green);
    transition: background-color 1s ease;
}

button:hover{
    background-color: var(--yellow);
    transition: background-color 1s ease;
}

input, select, textarea{
    height: fit-content;
    width: 100%;
    padding: 5px;
    border-style: none;
    border-radius: 30px;
}

.error-msg{
    color: red;
}

body{
    background-color: var(--background-brown);
}

header{
    height: var(--header-height);
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--brown);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img{
    height: 50px;
    border-radius: 30px;
}

footer{
    height: var(--header-height);
    background-color: var(--brown);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    min-height: var(--container-height);
    display: flex;
    justify-content: center;
}

.form{
    height: 440px;
    width: 440px;
    margin-top: 10px;
    padding: 30px;
    background-color: var(--blue);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form div label{
    align-self: start;
}

.home{
    width: 100%;
    margin: 10px;
}

.home button{
    position: absolute;
    float: right;
}

.home-no-plans{
    height: 200px;
    padding: 15px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.home-plans{
    background-color: var(--blue);
    height: fit-content;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}

.home button{
    position: absolute;
    right: 2% ;
    bottom: calc(var(--footer-height) + 10px)
}

.add-plan-form{
    min-height: 440px;
    width: 840px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
    background-color: var(--blue);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.preview-plan{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.preview-plan-form-left{
    height: 90%;
    width: 22%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.preview-plan-form-right{
    background-color: var(--white);
    height: 90%;
    width: 70%;
    padding: 2%;
}

.preview, .preview-details{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.preview-budget{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cards-selection{
    height: 330px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 250px;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    border: var(--blue) 1px solid;
}

.card img{
    width: 100%;
    border-radius: 20px;
}

.preview-plan-nav div{
    transition: background-color 1s ease;
    margin-bottom: 5px;
    padding: 5px;
}

.preview-plan-nav div:hover{
    background-color: var(--green);
    transition: background-color 1s ease;
}

.profile{
    background-color: var(--white);
    width: 700px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    overflow-y: auto;
}

.profile-details{
    height: 130px;
    padding: 2%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    background-color: var(--blue);
    border-radius: 30px;
    margin-bottom: 1%;
}

.profile-details img{
    height: 100%;
    border-radius: 100px;
}

.edit-profile{
    background-color: var(--blue);
    width: 700px;
    height: 502px;
    padding: 10px;
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
}

.edit-profile img{
    width: 100px;
    border-radius: 50px;
}
